.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  justify-content: center;
  align-self: center;
}

.container > h1 {
  text-align: center;
  margin-bottom: 50px;
}

.container > ul {
  list-style-type: none;
  padding: 0;
}

/* カードのスタイル */
.container > ul > li {
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  overflow: hidden;
  display: flex;
  align-items: stretch;
  transition: box-shadow 0.3s ease;
}

.container > ul > li:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.container > ul > li > details {
  flex: 1;
  padding: 15px;
  cursor: pointer;
}

.container > ul > li > details > summary {
  font-weight: bold;
  font-size: 18px;
}

.container > ul > li > details > p {
  margin: 10px 0;
  color: #555;
}

.container > ul > li > button {
  background-color: #f44336;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  flex-shrink: 0;
}

.container > ul > li > button:hover {
  background-color: #d32f2f;
}
